<form action="/create" method="post">
    <label for="productName">Nome:</label>
        <input type="text" name="productName" required><br><br>
    <label for="productWeight">Peso:</label>
        <input type="text" name="productWeight" required><br><br>
    <label for="productValidity">Validade:</label>
        <input type="date" name="productValidity" id="date" required><br><br>
    <button type="submit">Cadastrar</button>
</form>
